.authContainer {
    width: 400px;
    margin: 0 auto;
    color: var(--primary-text);
    text-align: center;
    margin-top: 20vh;
}

.authContainer input {
    height: 40px;
    border-radius: 10px;
    background-color: var(--neutral-background);
    outline: 0;
    border: 1px solid var(--secondary-text);
    color: var(--primary-text);
    padding: 5px 5px 5px 15px;
    font-size: 16px;
    width: 80%;
}

.authContainer input:focus {
    border: 1px solid var(--accent-color);
}

.authContainer input:invalid {
    border: 1px solid red;
}

.authContainer button {
    width: 65px;
    height: 65px;
    background-color: var(--accent-color);
    border-radius: 100%;
    border: 0;
    font-size: 25px;
    color: var(--primary-text);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
}

.authContainer button:active {
    box-shadow: 0px 0px 4px 1px white;
}

.authContainer .errorMessage {
    font-size: 80%;
    font-weight: 200;
    color: red;
}

.signUp {
    background-image: url("../../assets/key.png");
}
.signIn {
    background-image: url("../../assets/arrow-right.png");
}

.authContainer a:any-link {
    color: var(--primary-text);
    text-decoration: none;
}

.authContainer div {
    margin-top: 15px;
}
